/* CSS Document */


/** Roboto Fonts **/
@font-face{
	font-family: "roboto-medium";
	src: url(Roboto-Medium.ttf);
}
@font-face{
	font-family: "roboto";
	src: url(Roboto-Regular.ttf);
}
@font-face{
	font-family: "roboto-thin";
	src: url(Roboto-Thin.ttf);
}
@font-face{
	font-family: "roboto-light";
	src: url(Roboto-Light.ttf);
}
@font-face{
	font-family: "roboto-bold";
	src: url(Roboto-Bold.ttf);
}
@font-face{
	font-family: "roboto-black";
	src: url(Roboto-Black.ttf);
}
/** end Roboto Fonts **/